<p>Hallo {{ shop_name }},</p>
<p></p>
<p>{% if customer.name %}{{ customer.name }}{% else %}Iemand{% endif %} heeft een nieuwe bestelling geplaatst in jouw winkel, {{ date | date: "%b %d %I:%M%p" }}:</p>
<p></p>
<ul>  {% for line in line_items %} <li> <img src="{{ line | img_url: 'thumb' }}" /> {{ line.quantity }}x {{ line.title }} {% if line.sku != "" %}(SKU: {{line.sku}}){% endif %} for {{ line.price | money }} each </li> {% endfor %} </ul>
<a href="https://{{ shop.permanent_domain }}/admin/orders/{{ id }}">View bestelling {{order_name}} </a>
{% if fulfillment_aborted %}
<p>De bovenstaande bestelling is niet automatisch goedgekeurd omdat deze verdacht lijkt.</p>{% endif %}
<p></p><br>
{% if has_high_risks? %}<p><b>Security check:</b></p>
<p>Deze bestelling is mogelijk frauduleus. Review  deze bestelling in jouw winkel admin en neem contact op met de klant om zijn/haar informatie na te checken.</p>
<p></p>{% endif %}
<p><b>Betaling verwerking methode:</b></p>
<p>{{ gateway }}</p>
<p></p>
{% if requires_shipping and shipping_address %}
<p><b>Delivery method:</b></p>
{% for shipping_method in shipping_methods %}<p>{{ shipping_method.title }}</p>{% endfor %}
<p></p>
<p><b>Shipping address:</b></p>
<p>{{ shipping_address.name }}</p>
<p>{{ shipping_address.street }}</p>
<p>{{ shipping_address.city }}, {{ shipping_address.province }}  {{ shipping_address.zip }}</p>
<p>{{ shipping_address.country }}</p>
<p>{{ shipping_address.phone }}{% endif %}</p>
<p></p>

{% if shopify_shipping_enabled %}
<p>Spaar tijd en geld door<a href="{{ fulfillment_url }}">vervolledigen met Shopify Shipping</a></p>
<p></p>
{% endif %}
