<p>Bonjour {{ shop_name }},</p>
<p></p>
<p>{% if customer.name %}{{ customer.name }}{% else %}Quelqu'un{% endif %} a placé une nouvelle commande chez vous aujourd'hui, {{ date | date: "%b %d %I:%M%p" }}:</p>
<p></p>
<ul>  {% for line in line_items %} <li> <img src="{{ line | img_url: 'thumb' }}" /> {{ line.quantity }}x {{ line.title }} pour {{ line.price | money }} l'unité </li> {% endfor %} </ul>
<a href="{{ shop.url }}/admin/orders/{{ id }}">Afficher la commande {{order_name}} </a>
{% if fulfillment_aborted %}
<p>Cetre commande n'a pas été automatiquement exécutée parce qu'elle a été identifiée comme suspecte.</p>{% endif %}
<p></p><br>
{% if has_high_risks? %}<p><b>Contrôle de sécurité:</b></p>
<p>Cette commande semble être frauduleuse. Vérifiez cette commande dans l'interface d'administration de votre magasin et communiquez avec le client pour valider leurs informations.</p>
<p></p>{% endif %}
<p><b>Méthode de paiement:</b></p>
<p>{{ gateway }}</p>
<p></p>
{% if requires_shipping and shipping_address %}
<p><b>Méthode de livraison:</b></p>
{% for shipping_method in shipping_methods %}<p>{{ shipping_method.title }}</p>{% endfor %}
<p></p>
<p><b>Adresse de livraison</b></p>
<p>{{ shipping_address.name }}</p>
<p>{{ shipping_address.street }}</p>
<p>{{ shipping_address.city }}, {{ shipping_address.province }}  {{ shipping_address.zip }}</p>
<p>{{ shipping_address.country }}</p>
<p>{{ shipping_address.phone }}{% endif %}</p>
<p></p>
