<p>Merci de votre achat chez {{ shop_name }}!</p>
<p>Ce courriel est pour confirmer votre commande.</p>
<p>Date {{ date | date: "%d/%m/%Y" }}</p>
{% if requires_shipping and shipping_address %}
<p><b>Adresse de livraison</b><br />
{{ shipping_address.name }}<br />
{{ shipping_address.street }}<br />
{{ shipping_address.city }}<br />
{{ shipping_address.province }}
{{ shipping_address.zip }}<br />
{{ shipping_address.country }}</p>
{% endif %}
{% if billing_address %}
<p><b>Adresse de facturation</b><br />
{{ billing_address.name }}<br />
{{ billing_address.street }}<br />
{{ billing_address.city }}<br />
{{ billing_address.province }}
{{ billing_address.zip }}<br />
{{ billing_address.country }}</p>
{% endif %}
<ul style="list-style-type:none">  {% for line in line_items %} <li> <img src="{{ line | img_url: 'small' }}" /> {{ line.quantity }}x {{ line.title }} pour {{ line.price | money }} l'unité </li> {% endfor %}
</ul>
{% if discounts %}
<p>Rabais : {{ discounts_savings | money_with_currency }}</p> {% endif %}
<p>Sous-total : {{ subtotal_price | money_with_currency }}</p>
{% for tax_line in tax_lines %} <p>{{ tax_line.title }} : {{ tax_line.price | money_with_currency }} </p>
{% endfor %} {% if requires_shipping %}
<p>Livraison : {{ shipping_price | money_with_currency }}</p>
{% endif %} <p>Total : {{ total_price | money_with_currency }}</p>
